.PokemonCard {
  width: 250px;
  height: 160px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  &::after {
    content: "";
    background-image: url("../../images/grey-pokeball.png");
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: -15% 250%;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  &:hover {
    transform: translate(0, -05px);
  }
  .Header {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: rgb(160, 10, 10);
    color: white;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
  .Content {
    height: 110px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .Id {
      font-size: 1rem;
      padding: 0.5rem;
      align-self: flex-end;
      color: black;
      font-weight: 600;
      background-color: rgb(255, 212, 212);
      border-radius: 0.25rem;
      position: relative;
      top: 12px;
      left: -10px;
    }

    // .PokemonImage {
    //   height: 110%;
    //   position: absolute;
    //   top: 0;
    //   left: 35%;
    //   z-index: 1;
    // }
  }
}
