@import "./reset.scss";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "Maven Pro", sans-serif;
  min-height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(226, 37, 37, 0.02) 0%,
    rgba(211, 49, 49, 0.02) 82.8%
  );
}
