@import "../../styles/variables.scss";

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: $color-primary;
  color: white;
  .Creator {
    margin-bottom: 0.6rem;
  }
}
